# ============================================
# IS_DEBUG : Application running mode [support: true, false] [def: false]
# ============================================
IS_DEBUG=false

# ============================================
# SOCKS5_ENABLED : Enable or disable SOCKS5 proxy server [support: true, false] [def: true]
# SOCKS5_HOST : SOCKS5 proxy server listen address [support: 0.0.0.0, 127.0.0.1, specific IP] [def: 0.0.0.0]
# SOCKS5_PORT : SOCKS5 proxy server port number [support: 1-65535] [def: 8700]
# SOCKS5_AUTH_ENABLE : Enable or disable SOCKS5 authentication [support: true, false] [def: false]
# SOCKS5_USERNAME : SOCKS5 proxy authentication username [support: string] [def: empty]
# SOCKS5_PASSWORD : SOCKS5 proxy authentication password [support: string] [def: empty]
# ============================================
SOCKS5_ENABLED=true
SOCKS5_HOST=0.0.0.0
SOCKS5_PORT=8700
SOCKS5_AUTH_ENABLE=false
SOCKS5_USERNAME=
SOCKS5_PASSWORD=

# ============================================
# HTTP_PROXY_ENABLED : Enable or disable HTTP proxy server [support: true, false] [def: true]
# HTTP_PROXY_HOST : HTTP proxy server listen address [support: 0.0.0.0, 127.0.0.1, specific IP] [def: 0.0.0.0]
# HTTP_PROXY_PORT : HTTP proxy server port number [support: 1-65535] [def: 8800]
# ============================================
HTTP_PROXY_ENABLED=true
HTTP_PROXY_HOST=0.0.0.0
HTTP_PROXY_PORT=8800

# ============================================
# ADMIN_HOST : Admin panel bind address [support: 0.0.0.0, 127.0.0.1, specific IP] [def: 0.0.0.0]
# ADMIN_PORT : Admin panel bind port [support: 1-65535] [def: 8701]
# ============================================
ADMIN_HOST=0.0.0.0
ADMIN_PORT=8701

# ============================================
# METRICS_HOST : Metrics http server bind address [support: 0.0.0.0, 127.0.0.1, specific IP] [def: 0.0.0.0]
# METRICS_PORT : Metrics http server bind port [support: 1-65535] [def: 8702]
# ============================================
METRICS_HOST=0.0.0.0
METRICS_PORT=8702