# Application running mode configs
IS_DEBUG=true

# Socks5 proxy server network configs
SOCKS5_HOST="0.0.0.0"
SOCKS5_PORT=8700
SOCKS5_AUTH_ENABLE=false
SOCKS5_USERNAME=false
SOCKS5_PASSWORD=false

# Admin dashboard server configs
ADMIN_HOST="0.0.0.0"
ADMIN_PORT=8701


# Prometheus metrics server configs
PROMETHEUS_EXP_HOST="0.0.0.0"
PROMETHEUS_EXP_PORT=8702
